# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
######################################################################
# Mind that this is to be read as an overview of available
# settings which can be set in many different ways, not only
# by providing pillar values.
# The different sources will be merged. For further information,
# please see the docs, https://lkubb.github.io/saltext-formula/
# as well as the configured default sources in `parameters/map_jinja.yaml`.
######################################################################

# Apart from the various source files, there are two independent source trees
# for user-specific configuration.
# Generally tool_hammerspoon > tool_global.
# `tool_global` focuses on specific users, of which most values
# will be respected by all formulae in the `tool` suite:
tool_global:
  users:

      # The following is global configuration for the user named `user`.
    user:

        # Force the usage of XDG directories for this user.
      xdg: true

        # Sync this user's config from a dotfiles repo.
        # The available paths and their priority can be found in the
        # rendered `config/sync.sls` file.
        # Note that for user matching to work, you need to install `saltext-formula`.
        # Overview in descending priority:
        # salt://dotconfig/id/<minion_id>/users/<user>/hammerspoon
        # salt://dotconfig/id/<minion_id>/hammerspoon
        # salt://dotconfig/roles/<each custom `role` config>/users/hammerspoon
        # salt://dotconfig/roles/<each custom `role` config>/hammerspoon
        # salt://dotconfig/os_family/<os_family>/users/<user>/hammerspoon
        # salt://dotconfig/os_family/<os_family>/hammerspoon
        # salt://dotconfig/users/<user>/hammerspoon
        # salt://dotconfig/default/hammerspoon
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false

        # Persist environment variables used by this formula for this
        # user to this file (will be appended to a file relative to $HOME)
      persistenv: '.config/zsh/zshenv'

        # Add runcom hooks specific to this formula to this file
        # for this user (will be appended to a file relative to $HOME)
      rchook: '.config/zsh/zshrc'

        # This user's configuration for this formula. Will be overridden by
        # user-specific configuration in `tool_hammerspoon:users`.
        # Set this to `false` to disable configuration for this user.
      hammerspoon:
          # Make sure some repos are cloned/absent to/from HS config dir.
        spoons:
          absent:
              # Just the dir name as it would be produced by a `git clone`.
            - stackline
            # automatically update spoons with git.latest
          update_auto: true
          wanted:
              # either git URL
            - https://github.com/AdamWagner/stackline
              # or git URL: branch mapping
            - https://git.my.example/my/stackline: my

tool_hammerspoon:

    # Specify an explicit version (works on most Linux distributions) or
    # keep the packages updated to their latest version on subsequent runs
    # by leaving version empty or setting it to 'latest'
    # (again for Linux, brew does that anyways).
  version: latest

    # Default formula configuration for all users.
  defaults:
    spoons: default value for all users

    # User configuration can also be specified here in
    # `tool_hammerspoon:users`. It will override
    # configuration sourced from `tool_global:users`.
  users:
    user:
      persistenv: '.bash_profile'
      hammerspoon:
        spoons: this overrides config from tool_globl:users

######################################################################
# The following settings define default values for this formula,
# depending on different grains. You should not have to modify them
# in most cases. For a full overview, see the different files
# in `parameters`.
######################################################################
  lookup:
    pkg:
      name: hammerspoon
    rootgroup: root
    paths:
      confdir: '.hammerspoon'
      conffile: 'init.lua'
      xdg_dirname: 'hammerspoon'
      xdg_conffile: 'init.lua'

######################################################################
# The following settings influence which source paths are considered
# when managing files (TOFS pattern).
# See docs/TOFS_pattern.rst and https://lkubb.github.io/saltext-formula/
######################################################################
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
