# -*- coding: utf-8 -*-
# vim: ft=yaml
---
tool:
  hammerspoon:
    update_auto: false                  # automatically update cloned spoons

  users:
    user:
      xdg: true                         # force xdg dirs
      dotconfig: true                   # sync this user's config from a dotfiles repo available as salt://dotconfig/<user>/hammerspoon or salt://dotconfig/hammerspoon
      hammerspoon:
        # make sure some repos are cloned to HS config dir
        spoons:
          # either git URL
          - https://github.com/AdamWagner/stackline
          # or git URL: branch mapping
          - https://git.my.example/my/stackline: my
